.line
{
    height:6px;
    width: 70px;
    background-color: black;
    margin:8px auto;
    }

body
{
    text-align: center;
    }

h1
{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    }

#Apps
{
    background-color: aqua;
    width:100%;
    height: 800px;
}

#Games
{
    background-color:paleturquoise;
    width:100%;
    height: 800px;
}

#Chat_Bot
{
    background-color:lightblue;
    width:100%;
    height: 800px;
}

img
{
    transition: transform .2s;
    }

img:hover
{
    transform: scale(0.9);
    
}
